$baseSize: 5em;
$bigSize: 10em;

.thumbnails {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  @media (max-width: 942px) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .thumb {
    position: relative;
    overflow: hidden;
    background: $bg-color;
    flex-shrink: 0;
    margin: $spacing-xs;
    width: $baseSize;
    height: auto;

    &:before {
      content: '';
      float: left;
      padding-top: 100%;
    }

    @media (max-width: 942px) {
      margin: $spacing-xs;
    }

    .thumb-inner {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      margin: $spacing-xs / 2;
      transition: .2s;
    }
    &-text {
      .thumb-inner {
        color: $main-color;
        flex-direction: column;
      }
      span {
        font-size: 1.5em;
      }
    }

  }

  &.big {
    flex-wrap: wrap;
    justify-content: flex-start;

    .thumb {
      box-shadow: 0 2px 5px rgba(0,0,0,.2);
      flex-basis: calc(33% - #{$spacing-s});
      flex-grow: 1;
      box-sizing: border-box;

      // only 1
      &:only-child {
        flex-basis: 50%;
      }
      // only 2
      &:nth-last-child(2):first-child,
      &:nth-last-child(2):first-child ~ .thumb {
        flex-basis: calc(50% - #{$spacing-s})
      }
    }
  }
}
