$baseSize: 5em;
$bigSize: 10em;

.thumbnails {
  display: flex;
  float: right;
  flex-wrap: wrap;

  @media (max-width: 942px) {
    float: none;
    order: 3;
    margin-top: $spacing-s;
    margin-left: -1 * $spacing-xs;
  }

  .thumb {
    position: relative;
    overflow: hidden;
    background: $bg-color;
    flex-shrink: 0;
    margin-left: $spacing-s;
    margin-bottom: $spacing-s;
    width: $baseSize;
    height: $baseSize;

    @media (max-width: 942px) {
      margin: $spacing-xs;
    }

    &-text {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	color: $main-color;
      flex-direction: column;

      span {
        font-size: 1.5em;
      }
    }

    .thumb-inner {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      margin: $spacing-xs / 2;
      transition: .2s;
    }
  }

  &.big {
    .thumb {
      width: $bigSize;
      height: $bigSize;
    }
  }
}