.posts {
  overflow: hidden;
  line-height: 0;
  li {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid $secondary-color;
    line-height: 1.2;

    &:first-child {
      border-top: 2px solid $secondary-color;
    }

    .p-wrap {
      padding: $spacing-ml $spacing-m;
      background: $main-color;
      transition: .15s;
      overflow: hidden;
      margin: 0;

      &:active {
        background: darken($main-color, 3%);
      }
      &:hover {
        background: lighten($main-color, 3%);
      }
      @media (max-width: 942px) {
        padding: $spacing-m $spacing-m;
      }
      p {
        display: inline;
        margin: $spacing-xs 0 0;
        font-size: 2em;
        line-height: 1.2;
      }
      .inner {
        display: flex;
        flex-direction: row;

        @media (max-width: 942px) {
          flex-direction: column;
        }
      }
    } // end .p-wrap

    time {
      color: rgba(#fff, .3);
      display: block;
    }

    a {
      color: white;
      text-decoration: none;
    }

  } // end li
} // end .posts

.pagination {
  overflow: hidden;
  margin-top: 40px;
  color: lighten($text-color, 60%);
  text-align: center;
  border: 1px solid $border-color;

  a, span {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px;
    text-decoration: none;

    &:first-child {
      text-decoration: none;
      border-right: 1px solid $border-color;
    }
  }

  a:hover {
      text-decoration: none;
      background-color: darken($smoke-color, 5%);
  }
} // end .pagination

