---
layout: default
---

<section class="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <h5 class="page-date">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date_to_long_string }}
      </time>
    </h5>
    <div class="feat">
      <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    </div>
    <div itemprop="articleBody">
      {{ content }}
    </div>
      {% if page.videos %}
        {% for video in page.videos %}
          <div class="video-wrapper {{ video.ar | default: 'landscape' }}">
            {% if video.url contains 'youtube' %}
              <iframe src="{{ video.url }}" frameborder="0"></iframe>
            {% else %}
            <video src="/images/full/{{ video.url }}" controls muted>Sorry, your browser doesn't support embedded videos. Here's a direct link to the video: <a href="/images/full/{{ video.url }}">{{video.url}}</a></video>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
      {% include thumbnails.html thumbs=page.thumbnails clickable="True" big="True" %}
  </article>
</section>

<div class="pagination">
  {% if page.previous %}
  <a href="{{ site.baseurl }}{{ page.previous.url }}" class="newer">Older</a>
  {% else %}
  <span class="previous">Older</span>
  {% endif %}
  {% if page.next %}
  <a href="{{ site.baseurl }}{{ page.next.url }}" class="older">Newer</a>
  {% else %}
  <span class="next">Newer</span>
  {% endif %}
</div>
